@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Android';
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;
}

:root {
    --cor00: #f2f2f2;
    --cor01: #5FD93D;
    --cor02: #1E8C0D;
    --cor03: #17590C;
    --cor04: #1A4014;
    --cor05: #242426;

    --fonte-padrão: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', sans-serif;
    --fonte-android: 'Android', cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor05);
    color: var(--cor05);
    font-family: var(--fonte-padrão);
}

header {
    background-image: linear-gradient(to bottom, var(--cor01), var(--cor04));
    background-color: var(--cor03);
    min-height: 150px;
    text-align: center;
}

header > h1 {
    color: var(--cor00);
    font-family: var(--fonte-destaque);
    font-size: 3em;
    font-weight: normal;
    padding-top: 40px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.270);
}

header > p {
    font-family: var(--fonte-padrão);
    font-size: 1.2em;
    color: var(--cor00);
    max-width: 500px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 20px;
    margin: auto;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.270);
}

nav {
    background-color: var(--cor04);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.192);
}

nav > a {
    color: var(--cor01);
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.3s;
}

nav > a:hover {
    background-color: var(--cor01);
    color: var(--cor04);
}

main {
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    background-color: var(--cor00);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.734);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main h1 {
    color: var(--cor04);
    font-family: var(--fonte-android);
    font-size: 1.8em;
    font-weight: normal;
}

main h2 {
    color: var(--cor03);
    font-family: var(--fonte-android);
    font-size: 1.3em;
    font-weight: normal;
    background-image: linear-gradient(to right, var(--cor01), transparent);
    text-indent: 8px;
}

main p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 1.5em;
}

main strong {
    color: var(--cor03);
    font-weight: bold;
}

main a {
    text-decoration: none;
    font-weight: bold;
    color: var(--cor04);
    background-color: var(--cor01);
    padding: 2px 6px;
}

main a:hover {
    text-decoration: underline;
    color: var(--cor02);
}

main img {
    width: 100%;
}

main img.pequena {
    max-width: 350px;
    display: block;
    margin: auto;
}

div.video {
    background-color: var(--cor04);
    margin: 0 -20px 30px -20px;
    padding: 20px;
    padding-bottom: 56.5%;
    position: relative;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside {
    background-color: var(--cor01);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.280);
}

aside > h3 {
    background-color: var(--cor02);
    color: var(--cor00);
    padding: 5px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}

aside > ul {
    list-style-type: '\1F5F8\00A0\00A0';
    list-style-position: inside;
    columns: 2;
}

footer {
    background-color: var(--cor03);
    color: var(--cor00);
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}

footer a {
    color: var(--cor00);
    font-weight: bolder;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: var(--cor01);
}